/*
  General Markup Styling
*/
body, html {
  font-family: lato, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

body {
  padding: 0;
}


/*
  If javascript is not available
*/




/*
  Wrappers
*/

.content {
  padding: 1.5em;
}


/*
  Navigation
*/



/*
  Skip Links
*/


